.nav-link-hover-effect {
  position: relative;
  padding: 4px 0;
  transition: all 0.1s ease-in-out;
  color: $color-text-light-primary;
}

.nav-link-hover-effect:before {
  content: '';
  background: $color-primary;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.nav-link-hover-effect--active,
.nav-link-hover-effect:hover {
  color: $color-primary !important;
  font-weight: 700;
}

.nav-link-hover-effect:hover::before {
  width: 100%;
}
