.button__hover--primary {
  transition: all 0.3s;
  svg,
  span {
    transition: all 0.3s;
  }
  &:hover {
    cursor: pointer;
    color: $color-primary;
    svg,
    span {
      color: $color-primary;
    }
  }
}

.bg-gradient-primary {
  background: linear-gradient(65deg, $color-secondary, $color-primary);
}

.text-gradient-primary {
  background: linear-gradient(65deg, $color-secondary, $color-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-bottom-primary {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 63%;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(65deg, $color-secondary, $color-primary);
    transition: width 0.3s ease-in;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
