@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
  line-height: 1.4;
  transition: all linear 0.3s;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html.light {
  color: $color-text-dark;
  background-color: $color-white;
}

html.dark {
  color: $color-text-light;
  background-color: $color-bg-dark-secondary;
}

::selection {
  background: $color-secondary;
  color: $color-white;
  -webkit-text-fill-color: $color-white;
}

::-moz-selection {
  /* Code for Firefox */
  background: $color-secondary;
  color: $color-white;
  -webkit-text-fill-color: $color-white;
}

:focus-visible {
  outline: none;
}

a {
  transition: all 0.3s;
  &:hover {
    color: $color-primary !important;
  }
}

input[type='checkbox'] {
  accent-color: $color-primary;
}
