$color-primary: #38BDF8;
$color-secondary: #EC4899;
$color-third: #6366f1;
$color-white: #ffffff;
$color-black: #000000;
$color-text-dark: #1f2937;
$color-text-dark-opa: #1f2937cc;
$color-text-light: #e1e7ef;
$color-text-light-opa: #e1e7efcc;
$color-text-light-primary: #f3f4f6;
$color-success: #03a66d;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #cf304a;
$color-bg-dark-primary: #000000;
$color-bg-dark-secondary: #0f172a;
